.this-title-header {
    font-size: 40px;
    font-weight: 300;
    color: #e8f1f2;
    position: absolute;
    top: 180px;
    left: 10%;
    z-index: 6;
    width: 90%;
    height: 70px;
    text-transform: uppercase;
}