.this-container-request-contact {
  background-color: white;
  width: 100%;
  padding: 4%;
  text-align: center;

  position: relative;
}

.this-container-request-contact p {
  width: 100%;
  font-size: 35px;
  font-weight: 500;
  color: #13293d;
}

.this-request-contact-btn {
  color: #13293d;
  font-size: 60px;
  margin-left: 30px;
}

.this-request-contact-btn {
  text-decoration: none;
}

.this-request-contact-btn:hover {
  color: #247ba0;
}

@media screen and (max-width: 1130px) {
  .this-container-request-contact p {
    font-size: 30px;
  }

  .this-request-contact-btn {
    font-size: 50px
  }
}

@media screen and (max-width: 880px) {
  .this-container-request-contact p {
    font-size: 25px;
  }

  .this-request-contact-btn {
    font-size: 40px
  }
}

@media screen and (max-width: 650px) {
  .this-container-request-contact p {
    font-size: 20px;
  }
  .this-request-contact-btn {
    font-size: 30px
  }
}

@media screen and (max-width: 600px) {
  .this-container-request-contact p {
    font-size: 15px;
  }
  .this-request-contact-btn {
    font-size: 20px;
    margin-left: 4px;
  }
}
