.this-container-about {
  width: 100%;
  padding: 2%;
  position: relative;
  background-color: rgba(0, 100, 148, 0.2);
}

.this-inner-container {
  position: relative;
  background-color:  transparent;
  width: 90%;
  left: 5%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.this-photo-about {
  width: 40%;
  min-width: 300px;
  min-height: 300px;
  background-image: url(../../Images/about-1.jpg);
  background-size: 100% 100%;
  border-radius: 20px;
  position: relative;
  top: 100%;
  transform: translateY(0);
  -webkit-box-shadow: 10px 13px 34px -11px rgba(19,41,61,1);
  -moz-box-shadow: 10px 13px 34px -11px rgba(19,41,61,1);
  box-shadow: 10px 13px 34px -11px rgba(19,41,61,1);
}

.this-text-about {
  width: 60%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  position: relative;
}

.this-about-title {
  width: 300px;
  border-bottom: 1px solid #13293d;;
  font-size: 46px;
  font-weight: 100;
  color: #13293d;
  text-align: center;
  margin: 10px auto;
  text-transform: uppercase;
}

.this-about-text {
  width: calc(100% - 30px);
  margin-left: 30px;
}

.this-about-text p {
  text-align: justify;
  color: #13293d;
  font-size: 18px;
  font-weight: 300;
  margin: 30px 2px;
}

.this-about-btn {
  background-color: #13293d;
  width: 200px;
  height: 50px;
  border-radius:40px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: 1s;
  color: white;
  position: relative;
  left: 100%;
  transform: translateX(-100%);

}

.this-about-btn:hover {
  background-color: #006494;
  color: white;
  transition: 1s;
}

.this-about-btn p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 300;
}

@media screen and (max-width: 1320px) {
  .this-text-about {
    width: 100%;
  }
  .this-about-text {
    width: 100%;
    margin-left: 0;
  }

  .this-photo-about {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .this-about-title {
    width: 250px;
    font-size: 40px;
  }
}